<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login – NovaBank</title>
    <link rel="icon" type="image/png" href="/img/logo1.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-bank">

<nav class="navbar navbar-custom">
    <a class="navbar-brand" href="/">
        <img src="/img/logo2.png" class="nav-logo">
    </a>
</nav>

<div class="card-form mt-5">
    <h2 class="text-center">Login</h2>

    <form method="post" action="/login">
        <label>Username</label>
        <input type="text" class="form-control" name="username" required>

        <label class="mt-3">Password</label>
        <input type="password" class="form-control" name="password" required>

        <button type="submit" class="btn-main mt-3">Login</button>
    </form>

    <p class="text-center mt-3">
        No account? <a href="/register">Register</a>
    </p>

    <div th:if="${param.error}" class="alert alert-danger text-center mt-3">
        Invalid username or password.
    </div>
</div>

<footer>© 2025 NovaBank. Secure. Smart. Simple.</footer>

</body>
</html>
