<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register – NovaBank</title>
    <link rel="icon" type="image/png" href="/img/logo1.png">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-bank">

<nav class="navbar navbar-custom">
    <a class="navbar-brand" href="/">
        <img src="/img/logo2.png" class="nav-logo">
    </a>
</nav>

<div class="card-form mt-5">
    <h2 class="text-center">Create Account</h2>

    <form method="post" action="/register">

        <label>Username</label>
        <input type="text" name="username" class="form-control" required>

        <label class="mt-3">Email</label>
        <input type="email" name="email" class="form-control" required>

        <label class="mt-3">Password</label>
        <input type="password" name="password" class="form-control" required>

        <label class="mt-3">Confirm Password</label>
        <input type="password" name="confirmPassword" class="form-control" required>

        <button class="btn-main mt-3">Register</button>
    </form>

    <p class="text-center mt-3">
        Already have an account? <a href="/login">Login</a>
    </p>

    <div th:if="${param.error}" class="alert alert-danger text-center mt-3">
        Registration failed. Please try again.
    </div>
</div>

<footer>© 2025 NovaBank.</footer>

</body>
</html>
